input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.player-counter-component {
    display: inline-block;
}

.scroll-button {
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0px;
}

#spinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player-counter {
    width: 100px;
    margin-bottom: 10px;
    font-size: 42px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}
