#spinner {
    width: 600px;
    height: 600px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player-counter {
    width: 50px;
    margin-bottom: 10px; 
    font-size: 24px;
    text-align: right;
    border: none;
}