.set-picker-title {
    display: inline;
}

.set-picker-counter {
    float: right;
}

.img-card {
    width: 150px;
}

#left-sidebar {
    position: absolute;
    top: 118px;
    left: 0px;
    width: 200px;
    padding: 0px 20px 0px 20px;
    text-align: left;
}

#right-sidebar {
    position: absolute;
    top: 118px;
    right: 0px;
    width: 200px;
    padding: 0px 20px 0px 20px;
    text-align: left;
}

#content {
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 200px;
}

#text {
    width: 200px;
    margin: auto;
}

#images {
    width: 770px;
    margin: auto;
}