h2 {
    font-size: 30px;
}

ol {
    padding-inline-start: 30px;
    font-size: 20px;
}

.set-picker-title {
    display: inline;
}

.set-picker-counter {
    float: right;
    font-size: 26px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

.img-card {
    width: 150px;
    margin: 10px;
}

#content {
    display: block;
    width: auto;
    max-width: 870px;
    margin: auto;
    padding: 0px 280px 0px 280px;
    text-align: center;
}

#left-sidebar {
    position: absolute;
    top: 118px;
    left: 0px;
    width: 240px;
    padding: 0px 20px 0px 20px;
    text-align: left;
}

#right-sidebar {
    position: absolute;
    top: 118px;
    right: 0px;
    width: 240px;
    padding: 0px 20px 0px 20px;
    text-align: left;
}

#text {
    width: 200px;
    margin: auto;
}

#total-title {
    display: inline-block;
    margin-top: 15px;
}

#total-count {
    float: right;
    display: inline-block;
    margin-top: 15px;
}
